.delete-btn {
  background-color: rgb(39, 100, 79);
  border: none;
  border-radius: 5px;
  color: azure;
  font-size: 12px;
}

.contact-list {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  padding: 10px;
}
